* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
 margin: 0;
 font-family: Arial, sans-serif;
}
.container {
    display: flex;
}
.header, .footer {
 background-color: #007bff;
 color: white;
 text-align: center;
 padding: 20px;
}
.sidebar-kiri {
 float: left;
 width: 20%;
 background-color: #f1f1f1;
 padding: 15px;
 height: 300px;
}
.sidebar-kanan {
 float: right;
 width: 20%;
 background-color: #f1f1f1;
 padding: 15px;
 height: 300px;
}
.konten {
 width: 60%;
 background-color: #e2e2e2;
 padding: 20px;
 height: 300px;
}
.footer {
 clear: both;
}